{% assign highlight = site.data.highlight %}
<section id="highlight" class="active">
    <div class="content" aria-hidden="true">
        <header id="top">
            <div class="header-items">
                <h1>{{ site.title }}</h1>

                <nav id="main-nav" class="horizontal">
                    <ul>
                        {% for item in site.data.nav %}
                            <li>
                                {% if item.section_id %}
                                    {% assign anchor = item.section_id %}
                                {% elsif item.project_index %}
                                    {% comment %} If an index is used, search for the correct id {% endcomment %}
                                    {% assign anchor = site.projects[item.project_index].html_id %}
                                {% endif %}
                                <a href="#{{ anchor }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </header>

        <div class="highlight-group">
            <div class="logo-container">
                {% if highlight.background_video %}
                    <video id="logo-video" class="logo-masked" autoplay="autoplay" muted="muted" preload="auto" loop="loop" poster="{{ highlight.background_image }}">
                        <source src="{{ highlight.background_video }}" type="video/mp4">
                    </video>
                {% else %}
                    <img class="logo-masked" src="{{ highlight.background_image }}">
                {% endif %}
            </div>

            <div class="highlight-text">
                <div>
                    <h2>{{ highlight.title }}</h2>
                    {{ highlight.description | markdownify }}
                    <a href="#{{ site.projects[0].html_id }}" class="button-link">{{ highlight.link_text }}</a>
                </div>
            </div>
        </div>
    </div>
</section>