{% assign dark_class = '' %}
{% if project.use_dark_theme %}
    {% assign dark_class = 'dark' %}
{% endif %}

{% assign image_type = 'jpg' %}
{% if project.image_type %}
    {% assign image_type = project.image_type %}
{% endif %}

{% capture highres_image %}
img/{{ project.background_image }}-highres.{{ image_type }}
{% endcapture %}

<section id="{{ project.html_id }}" class="highlight-project {{ dark_class }}" data-dark="{{ project.use_dark_theme }}" data-bgimage="img/{{ project.background_image }}-lowres.{{ image_type }}">
    <div class="info">
        <div class="project-header">
            <h2>{{ project.title }}</h2>
            {% if project.subtitle %}
                <span class="subtitle">{{ project.subtitle }}</span>
            {% endif %}
        </div>
        <div class="description">
            {{ project }}
        </div>
    </div>
    {% if project.background_video %}
        <div class="images only" data-images="{{ project.side_images | join: ' ' }}">
            <div class="video-container container">
                <video class="project-video" autoplay="autoplay" muted="muted" preload="none" loop="loop" poster="{{ highres_image }}" aria-hidden="true">
                    <source src="{{ project.background_video }}" type="video/mp4">
                </video>
            </div>
        </div>
    {% else %}
        <div class="images only" data-images="{{ project.side_images | join: ' ' }}">
            <div class="container" style="background-image: url({{ highres_image }})"></div>
        </div>
    {% endif %}
</section>