{% assign dark_class = "" %}
{% if project.use_dark_theme %}
    {% assign dark_class = "dark" %}
{% endif %}

{% assign image_type = "jpg" %}
{% if project.image_type %}
    {% assign image_type = project.image_type %}
{% endif %}

<section id="{{ project.html_id }}" class="highlight-project {{ dark_class }}" data-dark="{{ project.use_dark_theme }}" data-bgimage="images/{{ project.background_image }}-lowres.{{ image_type }}">
    <div class="info">
        <div class="project-header">
            <h2>{{ project.title }}</h2>
            {% if project.subtitle %}
                <span class="subtitle">{{ project.subtitle }}</span>
            {% endif %}
        </div>
        <div class="description">
            {{ project }}
        </div>
    </div>
    {% if project.background_video %}
        <div class="images">
            <div class="video-container">
                <video class="project-video" autoplay="autoplay" muted="muted" preload="none" loop="loop" poster="images/{{ project.background_image }}-highres.{{ image_type }}" aria-hidden="true">
                    <source src="{{ project.background_video }}" type="video/mp4">
                </video>
            </div>
        </div>
    {% else %}
        <div class="images {{ 'only' unless project.side_images }}" style="background-image: url(images/{{ project.background_image }}-highres.{{ image_type }})"></div>
    {% endif %}

    {% if project.side_images %}
        <div class="side-images">
            {% for image in project.side_images %}
            <div style="background-image: url({{ image }})"></div>
            {% endfor %}
        </div>
    {% endif %}
</section>