header::after {
    content: '';
    display: block;
}

header .content {
    height: 100%;
}

header .header-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    text-align: center;
    font-size: 6vw;
    margin-bottom: 2vw;
}

nav {
    width: 100%;
    font-size: 3.5vw;
    letter-spacing: 0.035em;
    text-align: center;
    line-height: normal;
}

nav ul {
    margin: 5px 10px 0 10px;
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

nav ul li {
    display: block;
}

nav a, nav a:link, nav a:visited {
    text-transform: uppercase;
    color: #585858;
    display: block;
    overflow: hidden;
}

nav a::after, nav a:link::after, nav a:visited::after {
    content: '';
    border: none;
    border-bottom: 1px solid transparent;
    transform: translate(-100%, 0);
    display: block;
    transition: 300ms transform, 200ms border-bottom-color;
}

nav a:hover, nav a:active, nav a:focus {
    color: black;
}

nav a:hover::after, nav a:active::after, nav a:focus::after {
    content: '';
    border-bottom: 1px solid black;
    display: block;
    transform: translate(0, 0);
}

@media (min-width: 900px) {
    header {
        top: 0;
        height: 70px;
    }

    header .header-items {
        flex-direction: row;
        align-content: space-between;
    }

    h1 {
        font-size: 1.8em;
        margin: 0;
    }

    nav {
        width: auto;
        font-size: 1em;
        letter-spacing: normal;
    }

    nav ul {
        justify-content: flex-end;
    }

    nav ul li {
        margin-left: 20px;
    }
}

@media (min-width: 1200px) {
    nav {
        width: auto;
        font-size: 1.1em;
        letter-spacing: normal;
    }
}