#highlight {
    margin: 0;
    padding: 0;
    height: 100%;
    /*background-image: url('../images/highlight.jpg');
    background-size: cover;*/
    color: black;

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.highlight-group {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 .5em 2em .5em;
}

.highlight-text {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.logo-container {
    padding: 0 3em 3em 3em;
}

.logo-masked {
    box-sizing: content-box;
    width: 100%;
    -webkit-mask-image: $mask-url;
    mask-image: $mask-url;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}

.bg-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1s;
}

.bg-container.hiding {
    opacity: 0;
    transition: opacity 1s;
}

.background {
    min-width: 110%; 
    min-height: 110%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    z-index: -20;
    -webkit-filter: blur(80px);
    -moz-filter: blur(80px);
    -o-filter: blur(80px);
    -ms-filter: blur(80px);
    filter: blur(80px);
}

.background-damp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 1000ms;
    background: rgba(255, 255, 255, 0.4);
}

.dark-pagination .background-damp {
    background: rgba(0, 0, 0, 0.4);
}

@media (min-width: 900px) {
    .highlight-group {
        flex-direction: row;
        margin: 0 0 0 2em;
    }

    .logo-container {
        display: flex;
        width: 100%;
        padding: 0;
    }

    .highlight-text {
        align-items: flex-end;
        justify-content: center;
        text-align: right;
    }
}