.highlight-project {
    width: 100%;
    display: grid;
    background: rgba(255, 255, 255, 0.7);
    grid-template-columns: [start] 1fr [end];
    grid-template-rows: [info-start] auto [info-end images-start] 3fr [images-end];
    grid-template-areas:
        "info"
        "images";
    text-align: right;
    grid-gap: .5em;

    .project-header {
        transition: transform 1ms ease 1000ms;
        margin-bottom: 1em;

        h2 {
            margin-bottom: .3em;
        }

        .subtitle {
            margin-left: 15px;
        }
    }

    .info {
        margin: .5em 1em;
        grid-area: info;
    }

    .description {
        margin-left: 15px;
        transition: transform 1ms ease 1000ms;
    }

    .project-header, .description {
        transform: translateX(calc(-100% - 60px));
    }

    .description p {
        margin: .6em 0;
    }

    .description :first-child {
        margin-top: .2em;
    } 

    .images {
        grid-area: images;
        background-size: cover;
        background-position: center;
        height: 100%;
    }

    .images.only {
        grid-row: images-start / side-images-end;
        margin-bottom: 30px;
    }

    .images, .side-images {
        transform: translateX(calc(100% + 40px));
        transition: transform 1ms ease 1000ms;
    }
}

.side-images {
    display: none;
}

.video-container {
    height: 100%;
    overflow: hidden;
  }

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight-project.dark {
    background: rgba(0, 0, 0, 0.7);
}

.highlight-project:nth-of-type(odd) {
    text-align: left;

    .project-header, .description {
        transform: translateX(calc(100% + 60px));
    }

    .images, .side-images {
        transform: translateX(calc(-100% - 40px));
    }
}

.highlight-project.active {
    .project-header {
        transform: translateX(0);
        transition: transform 650ms ease 1300ms;
    }

    .description {
        transform: translateX(0);
        transition: transform 650ms ease 1500ms;
    }

    .images {
        transform: translateX(0);
        transition: transform 800ms ease 1000ms;
    }

    .side-images {
        transform: translateX(0);
        transition: transform 650ms ease 1200ms;
    }
}

@media (min-width: 900px) {
    .highlight-project {
        grid-template-columns: 30px [info-start] 1fr [info-end images-start] 2fr [images-end] 40px;
        grid-template-rows: [images-start] 5fr [images-end side-images-start] 3fr [side-images-end];
        grid-template-areas:
            ". info images ."
            ". info side-images .";
        grid-gap: 0;
        
        .images {
            height: auto;
            margin: 30px 0 0px 0;
        }

        .info {
            padding: 10px 45px 10px 0;
        }
    }

    .highlight-project:nth-of-type(odd) {
        grid-template-columns: 40px [images-start] 2fr [images-end info-start] 1fr [info-end] 30px;
        grid-template-areas:
            ". images info ."
            ". side-images info .";

        .images {
            margin: 30px 0 30px 0;
        }

        .info {
            padding: 10px 0 10px 45px;
        }
    }

    .side-images {
        display: flex;
        flex-direction: row;
        grid-area: side-images;
        margin-bottom: 30px;

        div {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }
    }
}
