#social {
    p {
        margin-top: 0;
    }

    .content {
        height: 100%;
        display: grid;
        grid-template-rows: [header-start] auto [header-end text-start] auto [text-end social-links-start]
            1fr [social-links-end copyright-start]
            auto [copyright-end] 1em;
    }
}

.bottom-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;

    .credits {
        text-align: left;
    }

    .copyright {
        text-align: right;
    }
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15vw;
}

.social-links a, .social-links a:link {
    display: block;
    padding: 0 2vw;
    color: white;
}

.social-links a:hover, .social-links a:active, .social-links a:focus {
    color: #838383;;
}

/* Prevent the font size from growing beyond the container width */
@media (min-width: 1200px) {
    .social-links {
        font-size: 13em;
    }
}