#social {
    p {
        margin-top: 0;
    }

    .content {
        height: 100%;
        display: grid;
        grid-template-rows: [header-start] auto [header-end text-start] auto [text-end social-links-start]
            1fr [social-links-end copyright-start]
            auto [copyright-end] 1em;
    }
}

.copyright {
    text-align: center;
    font-size: 0.85em;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15vw;
}

.social-links a, .social-links a:link {
    display: block;
    padding: 0 2vw;
    color: white;
}

.social-links a:hover, .social-links a:active, .social-links a:focus {
    color: #ff9966;
}

/*@media (min-width: 900px) {
    footer .content h2, .social-text {
        grid-column: start / middle;
    }

    .social-links {
        grid-row: 1 / span 2;
        grid-column: middle / end;
        justify-content: flex-end;
    }
}*/